html,
body {
  box-sizing: border-box;
  background: lightgrey;
  margin: 1vw;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
  gap: 0.5vw;
  flex-wrap: wrap;
}

.container > div {
  background: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 250px;
  flex: 1 1 300px;
}
